<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Wikipedia Viewer</title>
  
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <div class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <h6 class="brand-heading" id = "temp">Basically the entirety of human knowledge at your finger tips.</h6>
                        <form id = "searchWiki">
                          <div class = "row"> 
                            <div class="col-md">
                               <input type="text" name="search" placeholder=" learn about the universe...">
                            </div>
                          </div>
                          <div class = "row top-buffer"> 
                            <div class="col-md">
                               <input type="submit" value="Search" class = "btn btn-primary right-buffer">
                                <button id = "random" class = "btn btn-primary">Random</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
